<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_metatag %>

    <title>Label designer</title>

    <%= assets(:css) %>
    <link rel="stylesheet" href="/css/jackbox.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/jquery.contextMenu.css">
    <%= content_for :late_style %>

  </head>
  <body class="site">
    <header>
      <div class="page-header" style="font-size:1.8em;font-weight:bold;color:green;text-decoration:none;margin-left:1em;line-height:1.5em;">Label designer</div>
      <nav role="navigation" id="nav">
        <input class="trigger" type="checkbox" id="mainNavButton">
        <label for="mainNavButton" onclick>Menu</label>
        <ul class="menu-list">
          <li><a href="/">Home</a></li>
          <li>
            <a href="#">Labels</a>
            <ul>
              <li><a href="/list/labels">List labels</a></li>
              <li><a href="/label_designer">New label</a></li>
              <li><a href="/label_designer/blue">Blue label</a></li>
              <li><a href="/label_designer/green">Green label</a></li>
            </ul>
          </li>
          <li><a href="/label_designer">New label</a></li>
          <li><a href="/label_designer/blue">Blue label</a></li>
          <li><a href="/label_designer/green">Green label</a></li>
        </ul>
      </nav>
      <hr>
    </header>
    <div class="container">
      <%= yield %>
    </div>

    <footer class="footness">
      <p>Label designer: testing out new framework code.
      </footer>

      <script src="/js/lodash.js" type="text/javascript"></script>
      <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
      <script src="/js/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
      <script src="/js/konva.min.js" type="text/javascript"></script>
      <script src="/js/ag-grid-enterprise.js" type="text/javascript"></script>
      <script src="/js/ag-enterprise-activation.js" type="text/javascript"></script>
      <script src="/js/jackbox.min.js" type="text/javascript"></script>
      <!--script src="/js/jquery.ui.position.js" type="text/javascript"></script-->
      <script src="/js/jquery.contextMenu.js" type="text/javascript"></script>
      <script src="/js/sweetalert2.min.js" type="text/javascript"></script>
      <script src="/js/crossbeams-local-storage.js" type="text/javascript"></script>
      <script src="/js/crossbeams-utils.js" type="text/javascript"></script>
      <script src="/js/crossbeams-layout.js" type="text/javascript"></script>
      <script src="/js/crossbeams-grid-loader.js" type="text/javascript"></script>
      <script src="/js/crossbeams-data-miner-params.js" type="text/javascript"></script>
    <script>
      // Prefix all jQuery AJAX post requests with the CSRF token.
      const csrf_token = $('meta[name="_csrf"]').attr('content');
      $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
        if (options.type.toLowerCase() === 'post') {
          // initialize `data` to empty string if it does not exist
          options.data = options.data || '';
          // add leading ampersand if `data` is non-empty
          options.data += options.data ? '&' : '';
          // add _token entry
          options.data += `_csrf=${csrf_token}`;
        }
      });

      Jackbox.init();
      <% if flash[:notice] %>
        Jackbox.success('<%= flash[:notice].tr("'", "`") %>');
      <% end %>
      <% if flash[:error] %>
        Jackbox.error('<%= flash[:error].tr("'", "`") %>', { time: 20 });
      <% end %>
    </script>
      <%= content_for :late_javascript %>
    </body>
  </html>
