<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_metatag %>

    <title>Label Designer</title>

    <%= assets(:css) %>
    <link rel="stylesheet" href="/css/jackbox.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/jquery.contextMenu.css">
    <link rel="stylesheet" href="/css/popupwindow.css">
    <link rel="stylesheet" href="/css/selectr.min.css">
    <link rel="stylesheet" href="/css/multi.min.css">
    <%= content_for :late_style %>

  </head>
  <body class="site">
    <header>
      <div class="page-header" style="font-size:1.8em;font-weight:bold;color:green;text-decoration:none;margin-left:1em;line-height:1.5em;">Label Designer</div>
      <nav role="navigation" id="nav">
        <input class="trigger" type="checkbox" id="mainNavButton">
        <label for="mainNavButton" onclick>Menu</label>
        <ul class="menu-list">
          <li><a href="/list/labels">List labels</a></li>
          <li><a href="/label_designer/new">New label</a></li>
          <li><a href="/search/labels">Search labels</a></li>
          <li><a href="/list/printers">List printers</a></li>
        </ul>
      </nav>
      <hr>
    </header>
    <div class="container">
      <%= yield %>
    </div>

    <div class="dialog" aria-hidden="true" id="crossbeams-popup-dialog-level1">
      <div class="dialog-overlay" tabindex="-1"></div> <!-- data-a11y-dialog-hide></div> -->
      <div class="dialog-content" aria-labelledby="dialogTitleLevel1" aria-describedby="dialogDescription" role="dialog">
        <div role="document">
          <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>
          <h1 id="dialogTitleLevel1">Dialog title</h1>
          <div id="dialog-content-level1"></div>
        </div>
      </div>
    </div>

    <div class="dialog" aria-hidden="true" id="crossbeams-popup-dialog-level2">
      <div class="dialog-overlay" tabindex="-1"></div> <!-- data-a11y-dialog-hide></div> -->
      <div class="dialog-content" aria-labelledby="dialogTitleLevel2" aria-describedby="dialogDescription" role="dialog">
        <div role="document">
          <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>
          <h1 id="dialogTitleLevel2">Dialog title</h1>
          <div id="dialog-content-level2"></div>
        </div>
      </div>
    </div>

    <footer class="footness">
      <p>NOSOFT 2017
    </footer>

    <script src="/js/lodash.js" type="text/javascript"></script>
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <script src="/js/konva.min.js" type="text/javascript"></script>
    <script src="/js/ag-grid-enterprise.js" type="text/javascript"></script>
    <script src="/js/ag-enterprise-activation.js" type="text/javascript"></script>
    <script src="/js/jackbox.min.js" type="text/javascript"></script>
    <!--script src="/js/jquery.ui.position.js" type="text/javascript"></script-->
    <script src="/js/jquery.contextMenu.js" type="text/javascript"></script>
    <script src="/js/sweetalert2.min.js" type="text/javascript"></script>
    <script src="/js/crossbeams-local-storage.js" type="text/javascript"></script>
    <script src="/js/crossbeams-utils.js" type="text/javascript"></script>
    <script src="/js/crossbeams-layout.js" type="text/javascript"></script>
    <script src="/js/crossbeams-grid-loader.js" type="text/javascript"></script>
    <script src="/js/crossbeams-data-miner-params.js" type="text/javascript"></script>
    <script src="/js/popupwindow.js" type="text/javascript"></script>
    <script src="/js/selectr.min.js" type="text/javascript"></script>
    <script src="/js/multi.min.js" type="text/javascript"></script>
    <script src="/js/a11y-dialog.min.js" type="text/javascript"></script>
    <script>
      let crossbeamsDialogLevel1;
      let crossbeamsDialogLevel2;
      // Prefix all jQuery AJAX post requests with the CSRF token.
      const csrf_token = $('meta[name="_csrf"]').attr('content');
      $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
        if (options.type.toLowerCase() === 'post') {
          // initialize `data` to empty string if it does not exist
          options.data = options.data || '';
          // add leading ampersand if `data` is non-empty
          options.data += options.data ? '&' : '';
          // add _token entry
          options.data += `_csrf=${csrf_token}`;
        }
      });

      document.addEventListener('DOMContentLoaded', function () {
        const dialogEl1 = document.getElementById('crossbeams-popup-dialog-level1');
        crossbeamsDialogLevel1 = new window.A11yDialog(dialogEl1);
        const dialogEl2 = document.getElementById('crossbeams-popup-dialog-level2');
        crossbeamsDialogLevel2 = new window.A11yDialog(dialogEl2);
      });

      // Override the dialog keypress handler so that we can
      // trap the ESC key on grid searches.
      A11yDialog.prototype._bindKeypress = function (event) {
        // if (this.shown && event.which === 27) { // ESCAPE_KEY) {
        //   console.log('trapped esc', this);
        //   if (event.target.dataset && event.target.dataset.gridSearch) {
        //     return;
        //   }
        // }
        // TODO: Handle ESC outside of the prototype so that we can close
        //       only the topmost dialog. Currently the ESC goes to all
        //       dialogs and so the lower one thinks it is no longer showing.
        // FOR NOW, do not close on ESC...
        // if (this.shown && event.which === 27) { // ESCAPE_KEY) {
        //   event.preventDefault();
        //   this.hide();
        // }

        // If the dialog is shown and the TAB key is being pressed, make sure the
        // focus stays trapped within the dialog element
        if (this.shown && event.which === 9) { // TAB_KEY) {
          trapTabKey(this.node, event);
        }
      }

      Jackbox.init();
      <% if flash[:notice] %>
        Jackbox.success('<%= flash[:notice].tr("'", "`") %>');
      <% end %>
      <% if flash[:error] %>
        Jackbox.error('<%= flash[:error].tr("'", "`") %>', { time: 20 });
      <% end %>

    </script>
    <%= content_for :late_javascript %>
  </body>
</html>
